html {
    display: table;
    width: 100%;
    height: 100%;
}
body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.pure-form input {
    text-align: center;
}

ul li {
  list-style-type:none;
}

ul li span {
  font-weight: bold;
}

.desc span {
    cursor: pointer;
}